/* Your tabs CSS code here */
.tabs {
  list-style: none;
  margin-bottom: 16px;
  display: flex;
}

.tab {
  color: black;
  cursor: pointer;
  margin-right: 16px;
  opacity: .4;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}

.tab.active {
  opacity: 1;
  border-bottom: 3px solid #555555
}

.tab a {
  text-decoration: none;
}
